certifi==latest
chardet==latest
click==latest
dominate==latest
Flask==latest
Flask-Bootstrap==latest
Flask-CKEditor==latest
Flask-Gravatar==latest
Flask-Login==latest
Flask-SQLAlchemy==latest
Flask-WTF==latest
idna==latest
itsdangerous==latest
Jinja2==latest
MarkupSafe==latest
requests==latest
SQLAlchemy==latest
urllib3==latest
visitor==latest
Werkzeug==latest
WTForms==latest
